.uxDes{
  .title{
    display: inline-block;
    float: left;
    color: $darRed;
    font-size: 20px;
    font-weight: 700;
    .site-title{
      display: inline-block;
      padding-top: 15px;
      padding-left: 0;
    }
    .cb-logo:before {
      content: "\e904";
      font-size: 50px;
      color: $darRed;
    }
  }
  .offCanvas{
    height: 60px;
    width: 100%;
    background-color: #dadada;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9999999999999;
    display: block;
    @include box-shadow(0 0 5px rgba(black, 0.5));
    .title{
      display: inline-block;
      float: none;
      color: $darRed;
      font-size: 20px;
      font-weight: 700;
      margin: 0 auto;
      a{
        color: $darRed;
      }
    }
    .menuBtn span {
      background: $darRed;
    }
  }
  .offCanvasMenu{
    width: 300px;
    min-height: 100%;
    height: 100%;
    position: fixed;
    background-color: #dadada;
    z-index: 9999999999998;
    top: 60px;
    left: -320px;
    @include transition(all, 0.4s);
    .offTitle{
      padding: 15px 0;
      .site-title{
        padding-top: 12px;
        color: $darRed;
        font-size: 28px;
        font-weight: 700;
      }
    }
    .cb-logo:before {
      font-size: 60px;
    }
    &.open{
      left: 0;
      @include transition(all, 0.4s);
    }
    #menu-main-menu{
      width: 100%;
      li{
        width: 100%;
        display: block;
        a{
          color: $darRed;
          font-size: 18px;
          font-weight: 700;
          &:hover{
            color: $red;
            @include transition(color, 1s);
          }
        }
      }
    }
  }

  .sideMenu{
    position: fixed;
    left: 0;
    top: 50%;
    @include transform(translateY(-50%));
    width: 150px;
    z-index: 999999999;
    a{
      display: block;
      color: shade($red, 50%);
    }
  }

  .btnslide{
    width: 100%;
    background-color: $red;
    border: 1px solid $darRed;
    margin-left: -55%;
    padding: 15px 0;
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
    @include transition(margin-left, 0.4s);
    &:hover{
       margin-left: 0;
       @include transition(margin-left, 0.4s);
    }
  }

  .srchBtn{
    width: 40px;
    height: 39px;
    border:none;
    background: $darRed url("../images/search.svg") center center no-repeat;
    @include background-size(75%);
  }

  .mainNav{
    height: 60px;
    width: 100%;
    background-color: #dadada;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9999999999999;
    display: none;
    @include box-shadow(0 0 5px rgba(black, 0.5));
    a{
      color: $darRed;
    }
  }

  .mag-glass {
    border: 4px solid $darRed;
  }

  .mag-glass::before,
  .mag-glass::after {
    background: $darRed;
  }

  section{
    color: shade($red, 50%);
    &:nth-of-type(1){
      background-color: $darRed;
    }
    
    &:nth-of-type(2){
      background-color: $red;
      
    }
    &:nth-of-type(3){
      background-color: $darRed;
    }
    a{
      color: #333;
    }
  }

  .cb-logo:before {
    content: "\e904";
    font-size: 30px;
    color: $darRed;
  }

  ul{
    &#menu-main-menu-1{
      display: inline-block;
      float: right;
      li{
        a{
          color: $darRed;
          font-size: 18px;
          font-weight: 700;
          @include transition(color, 1s);
          &:hover{
            color: $red;
            @include transition(color, 1s);
          }
        }
      }
    }
  }

  .footer{
    @extend .footer;
    background-color: $red;
    overflow: hidden;
    .copyright{
      color: shade($red, 50%);
    }
    .footerCont{
      h1{
        line-height: 0;
        padding-bottom: 50px;
        text-align: center;
        color: shade($red, 50%);
      }
      input {
        background-color: $darRed;
        color: #444;
        @include input-placeholder {
          color:#777777;
        }
        &.buttonCont{
          background-color: $darRed;
          color: $red
        }
      }
      textarea{
        background-color: $darRed;
        color: #444;
        @include input-placeholder {
          color:#777777;
        }
      }
      .resources{
        img{
          border: 5px solid $darRed;
          @include box-shadow(0 0 20px rgba(black, 0.5));
        }
        h4{
          padding-top: 10px;
          text-align: center;
          color: $darRed;;
        }
      }
    }
  }
}
