$pur: #8E44AD;
$ylw: #FFD166;
$grn: #06D6A0;
$red: #EF476F;

$darYlw: shade($ylw, 15%);
$darGrn: shade($grn, 15%);
$darRed: shade($red, 15%);
$darPur: shade($pur, 15%);

$font: 'Raleway', sans-serif;

$bg: #0BAAD4;
$text: black;
$hover: darken($bg, 10%);