@import "compass/CSS3";
@import "mixins";
@import "variables";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic);

body,html{
  height: 100%;
  min-height: 100%;
}

.header{
  height: 100%;
  min-height: 100%;
}

section{
  min-height: 100%;
  position: relative;
  // background-color: #DADADA
}

%midCenter{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  @include translateY(-50%);
}

.headImg{ 
  background: transparent url(../images/bg.jpg) center center no-repeat;
  @include background-size(cover);
  height: 130%;
  width: 100%;
}

.firefly{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 999999999;
}

.categories{
  @extend %midCenter;
  .column{
    .catWrap{
      padding: 120px;
    }
    h2{
      font-size: 40px;
      text-align: center;
      margin-top: 20px;
    }
    &:nth-of-type(1){      
      img{
        // border: 4px solid darken($blu, 25%);
       border-radius: 40px 0 40px 0;
       // @include box-shadow(0 0 15px rgba(darken($blu, 25%), 1));
      }
      h2{
        color: $blu;
      }
    }
    &:nth-of-type(2){   
      img{
        // border: 4px solid darken($grn, 25%);
        border-radius: 40px 0 40px 0;
        // @include box-shadow(0 0 15px rgba(darken($grn, 25%), 1));
      }
      h2{
        color: $grn;
      }
    }
    &:nth-of-type(3){   
      img{
        // border: 4px solid darken($pnk, 25%);
        border-radius: 40px 0 40px 0;
        // @include box-shadow(0 0 15px rgba(darken($pnk, 25%), 1));
      }
      h2{
        color: $pnk;
      }
    }
  }
}

.mainNav{
  height: 60px;
  width: 100%;
  background-color: #dadada;
}

.resources{
  img{
    border: 5px solid $pur;
    @include box-shadow(0 0 20px rgba(black, 0.5));
  }
  
  h4{
    padding-top: 10px;
    text-align: center;
    color: #dadada;
  }
  .column{
    padding-bottom: 20px;
  }
}

ul{
  &#menu-main-menu{
    display: inline-block;
    float: right;
    padding-top: 10px;
    li{
      a{
        color: $pur;
        font-size: 18px;
        font-weight: 700;
        @include transition(color, 0.4s);
        &:hover{
          color: darken($pur, 15%);
          @include transition(color, 0.4s);
        }
      }
    }
  }
}

.footer{
  margin-top: 0;
  background-color: #444;
  position: relative;
  .copyright{
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
  }
  .footerCont{
    @extend %midCenter;
    h1{
      line-height: 0;
      padding-bottom: 50px;
      text-align: center;
      color: #dadada;
    }
    input {
      background-color: #dadada;
      color: $pur;
      @include input-placeholder {
        color: $pur;
      }
      &.buttonPur{
        display: inline-block;
        text-align: center;
        width: 100%;
        line-height: 1;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 0;
        padding: 0.85em 1em;
        margin: 0 0 1rem 0;
        font-size: 18px;
        background-color: $pur;
        color: #dadada;
      }
    }
    textarea{
      background-color: #dadada;
       @include input-placeholder {
        color: $pur;
      }
    }
  }
}

.copyright{
  color: #dadada;
}

.title{
  display: inline-block;
  float: left;
  color: $pur;
  font-size: 20px;
  font-weight: 700;
  padding-top: 15px;
  padding-left: 15px
}

.tagline{
  max-width: 1200px;
  color: #dadada;
  font-size: 75px;
  text-align: center;
  font-family: $font;
  font-style: italic;
  font-weight: bold;
  @extend %midCenter;
}

.menu-item {
  display: inline-block;
  overflow: hidden;
  &:before, &:after {
    right: 0;
    bottom: 0;
    background: $hover;
  }
  &:before {
    width: 100%;
    height: 2px;
    transform:  translateX(-100%);
  }
  &:after {
    width: 2px;
    height: 100%;
    transform:  translateY(100%);
  }
  > a {
    display: block;
    padding: 10px;
    &:before, &:after {
      left: 0;
      top: 0;
      background: $hover;
    }
    &:before {
      width: 100%;
      height: 2px;
      transform:  translateX(100%);
    }
    &:after {
      width: 2px;
      height: 100%;
      transform:  translateY(-100%);
    }
  }
  &:hover:before, &:hover:after, &:hover > span:before, &:hover > span:after {
    transform:  translate(0, 0);
  }
}


// Menu Items

// ul#menu-main-menu .menu-item {
//   // margin: 0;
// }
// ul#menu-main-menu{
//   position: relative;
// }

// ul#menu-main-menu li{
//   position: relative;
// }

// ul#menu-main-menu a {
//   width: 120px;
//   height: 3em;
//   text-align: center;
//   color: #b5b5b5;
//   -webkit-transition: color 0.3s 0.2s;
//   transition: color 0.3s 0.2s;
// }

// ul#menu-main-menu a:hover,
// ul#menu-main-menu a:focus {
//   color: #929292;
// }

// ul#menu-main-menu .current_page_item a {
//   color: #d94f5c;
//   -webkit-transition: color 0.7s 0.2s;
//   transition: color 0.7s 0.2s;
// }

// ul#menu-main-menu .menu-lines {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 120px;
//   height: 45px;
//   // pointer-events: none;
//   border: 2px solid #d94f5c;
//   border-width: 2px 0;
//   -webkit-transition: -webkit-transform 0.5s 0.2s;
//   transition: transform 0.5s 0.2s;
//   -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
//   -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
//   transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
// }

// /* vertical lines */
// ul#menu-main-menu .menu-lines::before,
// ul#menu-main-menu .menu-lines::after {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border: 2px solid #d94f5c;
//   border-width: 0 2px;
//   -webkit-transform-origin: 0% 50%;
//   transform-origin: 0% 50%;
// }

// /* animates out at transition start */
// ul#menu-main-menu .menu-lines::before {
//   -webkit-transform: scale3d(1, 0, 1);
//   transform: scale3d(1, 0, 1);
//   -webkit-transition: -webkit-transform 0.2s ease;
//   transition: transform 0.2s ease;
// }

// /* animates back in at transition end */
// ul#menu-main-menu .menu-lines::after {
//   -webkit-transform: scale3d(1, 1, 1);
//   transform: scale3d(1, 1, 1);
//   -webkit-transition: -webkit-transform 0.2s ease 0.7s;
//   transition: transform 0.2s ease 0.7s;
// }

// ul#menu-main-menu .menu-item:active:not(.current_page_item) ~ .menu-lines::before,
// ul#menu-main-menu .menu-item:active:not(.current_page_item) ~ .menu-lines::after {
//   -webkit-transition: -webkit-transform 0s;
//   transition: transform 0s;
// }

// ul#menu-main-menu .menu-item:active:not(.current_page_item) ~ .menu-lines::before {
//   -webkit-transform: scale3d(1, 1, 1);
//   transform: scale3d(1, 1, 1);
// }

// ul#menu-main-menu .menu-item:active:not(.current_page_item) ~ .menu-lines::after {
//   -webkit-transform: scale3d(1, 0, 1);
//   transform: scale3d(1, 0, 1);
// }

// ul#menu-main-menu .menu-item:nth-child(1).current_page_item ~ .menu-lines {
//   -webkit-transform: translate3d(0, 0, 0);
//   transform: translate3d(0, 0, 0);
// }

// ul#menu-main-menu .menu-item:nth-child(2).current_page_item ~ .menu-lines {
//   -webkit-transform: translate3d(100%, 0, 0);
//   transform: translate3d(100%, 0, 0);
// }

// ul#menu-main-menu .menu-item:nth-child(3).current_page_item ~ .menu-lines {
//   -webkit-transform: translate3d(200%, 0, 0);
//   transform: translate3d(200%, 0, 0);
// }

// ul#menu-main-menu .menu-item:nth-child(4).current_page_item ~ .menu-lines {
//   -webkit-transform: translate3d(300%, 0, 0);
//   transform: translate3d(300%, 0, 0);
// }

// ul#menu-main-menu .menu-item:nth-child(5).current_page_item ~ .menu-lines {
//   -webkit-transform: translate3d(400%, 0, 0);
//   transform: translate3d(400%, 0, 0);
// }

// @media screen and (max-width:55em) {
//   ul#menu-main-menu .menu-lines {
//     height: 20%;
//     border-width: 0 2px;
//   }

//   /* horizontal lines */
//   ul#menu-main-menu .menu-lines::before,
//   ul#menu-main-menu .menu-lines::after {
//     border-width: 2px 0;
//     -webkit-transform-origin: 50% 0%;
//     transform-origin: 50% 0%;
//   }

//   ul#menu-main-menu .menu-lines::before {
//     -webkit-transform: scale3d(0, 1, 1);
//     transform: scale3d(0, 1, 1);
//   }

//   ul#menu-main-menu .menu-item:active:not(.current_page_item) ~ .menu-lines::after {
//     -webkit-transform: scale3d(0, 1, 1);
//     transform: scale3d(0, 1, 1);
//   }

//   ul#menu-main-menu .menu-item:nth-child(1).current_page_item ~ .menu-lines {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }

//   ul#menu-main-menu .menu-item:nth-child(2).current_page_item ~ .menu-lines {
//     -webkit-transform: translate3d(0, 100%, 0);
//     transform: translate3d(0, 100%, 0);
//   }

//   ul#menu-main-menu .menu-item:nth-child(3).current_page_item ~ .menu-lines {
//     -webkit-transform: translate3d(0, 200%, 0);
//     transform: translate3d(0, 200%, 0);
//   }

//   ul#menu-main-menu .menu-item:nth-child(4).current_page_item ~ .menu-lines {
//     -webkit-transform: translate3d(0, 300%, 0);
//     transform: translate3d(0, 300%, 0);
//   }

//   ul#menu-main-menu .menu-item:nth-child(5).current_page_item ~ .menu-lines {
//     -webkit-transform: translate3d(0, 400%, 0);
//     transform: translate3d(0, 400%, 0);
//   }
// }


