@import "compass/CSS3";
@import "mixins";
@import "variables";
@import "job-page";
@import "fonts";
@import "animated_icons";


body,html{
  height: 100%;
  min-height: 100%; 
}

.no-pad{
  padding: 0;
}

.xxlarge-pad-bottom {
  padding-bottom: 75px;
}
.xlarge-pad-bottom {
  padding-bottom: 40px;
}

.large-pad-bottom {
  padding-bottom: 30px;
}

.medium-pad-bottom {
  padding-bottom: 20px;
}

.small-pad-bottom {
  padding-bottom: 10px;
}

.xsmall-pad-bottom {
  padding-bottom: 5px;
}

.large-pad-bot {
  padding-bottom: 30px;
}


.header{
  height: 100%;
  min-height: 100%; 
}

.headImg{ 
  background: transparent url(../images/bg.jpg) right center no-repeat;
  @include background-size(cover);
  height: 130%;
  width: 100%;
}


.webDesHeader{
  height: 500px;
  width: 100%;
}

.webDesHeadImg{ 
  background: transparent url(../images/webDes_head.jpg) center center no-repeat;
  @include background-size(cover);
  height: 600px;
  width: 100%;
}

.webDevHeadImg{ 
  background: transparent url(../images/webDev_head.jpg) center center no-repeat;
  @include background-size(cover);
  height: 600px;
  width: 100%;
}

.uxDesHeadImg{ 
  background: transparent url(../images/uxDes_head.jpg) center center no-repeat;
  @include background-size(cover);
  height: 600px;
  width: 100%;
}

.singPostHeader{
  height: 500px;
  width: 100%;
}

.singPostHeadImg{ 
  @include background-size(cover);
  height: 600px;
  width: 100%;
}

section{
  height: auto;
  min-height: auto;
  position: relative;
  background-color: #DADADA
}

.overlay{
  background-color: rgba(black, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.excerpt{
  margin-top: 20px;
}

.postContent{
  font-size: 16px;
}

.mag-glass {
  border: 4px solid $pur;
  &:before, &:after {
    background: $pur;
  }
}

.articleImg{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.imgOverlay{
  background-color: rgba(black, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  h4{
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 15px;
  }
}

.secContent{
  position: relative;
  top: 0;
  padding: 40px 0;
  left: 0;
  right: 0;
  width: 100%;
  @include transform(translateY(0));
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  .secMainContent{
      overflow: hidden;
    }
}

.mainNav{
  height: 60px;
  width: 100%;
  background-color: #dadada;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 9999999999999;
  display: none;
  @include box-shadow(0 0 5px rgba(black, 0.5));
  a{
    color: $pur;
  }
}



.offCanvas{
  height: 60px;
  width: 100%;
  background-color: #dadada;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 9999999999999;
  display: block;
  .title{
    display: inline-block;
    float: left;
    color: $darYlw;
    font-size: 20px;
    font-weight: 700;
  }
  .mainNav{
    height: 60px;
    width: 100%;
    background-color: #dadada;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9999999999999;
    display: none;
    display: block;
  } 
}

h1{
  span{
    &.cb-howTo, &.cb-advice, &.cb-skills{
      margin-right: 30px;
    }
  }
}

.columns:last-child:not(:first-child){
  float: left;
}

.footer{
  margin-top: 0;
  background-color: #444;
  position: relative;
  // #inner-footer{
  //   overflow: hidden;
  //   position: relative;
    
  // }
  .copyright{
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
  }
  .resources{
    img{
      border: 5px solid $pur;
      @include box-shadow(0 0 20px rgba(black, 0.5));
    }
    
    h4{
      padding-top: 10px;
      text-align: center;
      color: #dadada;
    }
    .column{
      padding-bottom: 20px;
    }
  }
  .footerCont{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    padding: 40px 0;
    @include translateY(0);
    h1{
      line-height: 0;
      padding-bottom: 50px;
      text-align: center;
      color: #dadada;
    }
    input {
      background-color: #dadada;
      color: $pur;
      @include input-placeholder {
        color: $pur;
      }
      &.buttonCont{
        display: inline-block;
        text-align: center;
        width: 100%;
        line-height: 1;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 0;
        padding: 0.85em 1em;
        margin: 0 0 1rem 0;
        font-size: 18px;
        background-color: $pur;
        color: #dadada;
      }
    }
    textarea{
      background-color: #dadada;
       @include input-placeholder {
        color: $pur;
      }
    }
  }
}

.prevBtn{
  position: relative;
  padding-left: 30px;
  display: inline-block;
  float: left;
  font-size: 22px;
  &:before{
    content: '';
    background: url(../images/back.svg) center center no-repeat;
    @include background-size(cover);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 0;
  }
}
.nextBtn{
  position: relative;
  padding-right: 30px;
  display: inline-block;
  float: right;
  font-size: 22px;
  &:after{
    content: '';
    background: url(../images/next.svg) center center no-repeat;
    @include background-size(cover);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;;
    right: 0;
  }
}

blockquote{
  display:block;
  background: #dadada;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid $pur;
  border-right: 2px solid $pur;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
  p{
    color: #333;
  }
  &::before{
    content: "\201C"; /*Unicode for Left Double Quote*/
    
    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    
    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
  }
  &::after{
    /*Reset to make sure*/
    content: "";
  }
}

blockquote

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  cursor: pointer;
  padding: 0 3px;
  color: $pur;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

%midCenter{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  @include translateY(-50%);
}

.tagline{
  max-width: 1200px;
  color: #dadada;
  font-size: 35px;
  text-align: center;
  font-family: $font;
  font-style: italic;
  font-weight: bold;
  padding: 0 15px;
  @extend %midCenter;
  z-index: 999;
  p{
    line-height: 1.2em;
  }
}

// Main menu-item
ul{
  &#menu-main-menu-1{
    display: inline-block;
    float: right;
    padding-top: 0;
    li{
      a{
        color: $pur;
        font-size: 18px;
        font-weight: 700;
        @include transition(color, 1s);
        &:hover{
          color: darken($pur, 15%);
          @include transition(color, 1s);
        }
      }
    }
  }
}

// Offcanvas menu-item
.offCanvas{
    height: 60px;
    width: 100%;
    background-color: #dadada;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9999999999999;
    display: block;
    @include box-shadow(0 0 5px rgba(black, 0.5));
    .title{
      display: inline-block;
      float: none;
      color: $darPur;
      font-size: 20px;
      font-weight: 700;
      margin: 0 auto;
      a{
        color: $darPur;
      }
    }
    .menuBtn span {
      background: $darPur;
    }
  }
  .offCanvasMenu{
    width: 300px;
    min-height: 100%;
    height: 100%;
    position: fixed;
    background-color: #dadada;
    z-index: 9999999999998;
    top: 60px;
    left: -320px;
    @include transition(all, 0.4s);
    .offTitle{
      padding: 15px 0;
      .site-title{
        padding-top: 12px;
        color: $darPur;
        font-size: 28px;
        font-weight: 700;
      }
    }
    .cb-logo:before {
      font-size: 60px;
    }
    &.open{
      left: 0;
      @include transition(all, 0.4s);
    }
    #menu-main-menu{
      width: 100%;
      li{
        width: 100%;
        display: block;
        a{
          color: $darPur;
          font-size: 18px;
          font-weight: 700;
          &:hover{
            color: $pur;
            @include transition(color, 1s);
          }
        }
      }
    }
  }

.mainNav{
  display: none;
}

.mainMenu{
  float: right;
}

.search{
  padding-top: 10px;
}

.searchForm{
  position: fixed;
  top: 68px;
  right: -2000px;
  z-index: 9999999999998;
   @include transition(all, 1s);
   // display: none;
  &.left{
    right: 5px;
    @include transition(all, 1s);
  }
}

.srchBtn{
  width: 40px;
  height: 39px;
  border:none;
  background: $pur url("../images/search.svg") center center no-repeat;
  @include background-size(75%);
}

.title{
  display: inline-block;
  float: left;
  color: $pur;
  font-size: 20px;
  font-weight: 700;
  .site-title{
    display: inline-block;
    padding-top: 15px;
    padding-left: 0;
  }
  .cb-logo:before {
    content: "\e904";
    font-size: 50px;
    color: $pur;
  }
}

/*###############################################################
Web Design Page CSS
###############################################################*/
@import "webDes_template";

/*###############################################################
Web Development Page CSS
###############################################################*/
@import "webDev_template";

/*###############################################################
Web Development Page CSS
###############################################################*/
@import "uxDes_template";

.firefly{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 99999999999999999;
}

.categories{
  height: auto;
  min-height: auto;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  @include translateY(0);
  .subSec{
    height: auto;
    min-height: auto;
    position: relative;
  }
  a{
    display: block;
    min-height: auto;
    height: auto;
    width: 33%;
    padding: 75px 0;
    &:nth-of-type(1){
      background-color: rgba($ylw, 0);
      @include transition(background-color, 1s);
      &:hover{
        background-color: rgba($ylw, 1);
        @include transition(background-color, 1s);
      }
    }
    &:nth-of-type(2){
      background-color: rgba($grn, 0);
      @include transition(background-color, 1s);
      &:hover{
        background-color: rgba($grn, 1);
        @include transition(background-color, 1s);
      }
    }
    &:nth-of-type(3){
      background-color: rgba($red, 0);
      @include transition(background-color, 1s);
      &:hover{
        background-color: rgba($red, 1);
        @include transition(background-color, 1s);
      }
    }
  }
  .column{ 
    .catWrap{
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      @include transform(translateY(0));
    }
    h2{
      font-size: 40px;
      text-align: center;
      margin-top: 20px;
    }
    &:nth-of-type(1){      
      h2{
        color: $ylw;
        @include transition(color, 0.4s);
        @include text-shadow(1px 1px 3px rgba(black, 0.2));
      }
    }
    &:nth-of-type(2){
      h2{
        color: $grn;
        @include transition(color, 0.4s);
        @include text-shadow(1px 1px 3px rgba(black, 0.2));
      }
    }
    &:nth-of-type(3){
      h2{
        color: $red;
        @include transition(color, 0.4s);
        @include text-shadow(1px 1px 3px rgba(black, 0.2));
      }
    }
  }
}

.mainWrap{
  overflow: hidden;
}

.howTo{
  h1{
    margin-bottom: 30px;
  }
  .contGrid{
    height: auto;
    a{
      display: block;
      min-height: 100%;
      height: 100%;
      width: 33%;
      background-color: rgba($ylw, 0);
      color: $ylw;
      @include transition(background-color, 1s);
      &:hover{
        background-color: rgba($ylw, 1);
        @include transition(background-color, 1s);
      }
    }
  }
}
.cat-hover{
  color: #dadada !important;
  @include transition(color, 0.4s);
  &:before{
    color: #dadada;
    @include transition(color, 0.4s);
  }
}

.copyright{
  color: #dadada;
}

.menu-item {
  display: inline-block;
  overflow: hidden;
  &:before, &:after {
    right: 0;
    bottom: 0;
    background: $hover;
  }
  &:before {
    width: 100%;
    height: 2px;
    transform:  translateX(-100%);
  }
  &:after {
    width: 2px;
    height: 100%;
    transform:  translateY(100%);
  }
  > a {
    display: block;
    padding: 10px;
    &:before, &:after {
      left: 0;
      top: 0;
      background: $hover;
    }
    &:before {
      width: 100%;
      height: 2px;
      transform:  translateX(100%);
    }
    &:after {
      width: 2px;
      height: 100%;
      transform:  translateY(-100%);
    }
  }
  &:hover:before, &:hover:after, &:hover > span:before, &:hover > span:after {
    transform:  translate(0, 0);
  }
}

#content{
  &.singlePost{
    #inner-content{
      background-color: #dadada;
      padding: 50px 0;
      color: $pur;
      h1,h2,h3,h4,h5,h6{
        color: $darPur;
      }
      a{
        color: $darPur;
        text-decoration: underline;
      }
      #metaDivider{
        display: none;
      }
      .__reading__mode__extracted__bylineentry{
        // font-size: 32px;
      }
      article{
        margin: 75px 0;
        h5{
          font-size: 30px;
        }
      }
    }
    .postThumb{
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

.article{
  width: 100%;
  float: left;
  padding: 15px;
  margin-bottom: 15px;
  // &:last-child{
  //   clear: left;
  // }
}


/*########################################################################
Medium Screen Size
########################################################################*/
@media only screen and (min-width: 40.063em) {
  .tagline{
    font-size: 55px;
    z-index: 999;
    p{
      line-height: 1.2em;
    }
  }

  .postContent{
    font-size: 19px;
  }

  .article{
    width: 50%;
  }

  .articleImg{
    height: 225px;
  }

  .blockquote{
    font-size: 19px;
  }


}



/*########################################################################
large Screen Size
########################################################################*/
@media only screen and (min-width: 64.063em) {
  section{
    height: 100%;
    min-height: 100%;
    position: relative;
    background-color: #DADADA
  }
  
  .secContent{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    @include transform(translateY(-50%));
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    .secMainContent{
      overflow: hidden;
    }
  }

  blockquote{
    font-size: 22px;
  }

  .postContent{
    font-size: 22px;
  }

  .article{
    width: 33.333333333%;
  }

  .articleImg{
    height: 300px;
  }

  .tagline{
    font-size: 75px;
    p{
      line-height: 1.2em;
    }
  }

  .footer{
    .footerCont{
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 50%;
      @include translateY(-50%);
      padding: 0;
    }
  }

  ul{
    &#menu-main-menu-1{
      padding-top: 10px;
    }
  }

  .categories{
    height: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    @include translateY(-50%);
    .subSec{
      height: 100%;
      min-height: 100%;
      position: relative;
    }
    a{
      display: block;
      min-height: 100%;
      height: 100%;
      padding: 0;
    }
    .column{
      .catWrap{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        @include transform(translateY(-50%));
      }
    }
  }
}

/*########################################################################
Special Screen Size
########################################################################*/
@media only screen and (min-width: 51.250em) {
  .mainNav{
    display: block;
  }

  .webDes, .webDev, .uxDes, .mainPage, .singPost{
    .mainNav{
      display: block;
    }
  }

  .webDes, .webDev, .uxDes, .mainPage, .singPost{
    .offCanvas{
      display: none;
    }
  }


}


/*#######################################################################
Animations
#######################################################################*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*the animation definition*/

@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0)
  }
}

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
  }
  40%,
  45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    -ms-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0)
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}
